<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Sign Up</title>
        <meta name="description" content="Sign up to our platform to get access to our numerous past papers, notes, and course guides.">
    </head>
    <body class="signup">
        <div class="container-fluid">
            <div class="container">
                <div class="row justify-content-evenly">     
                    <div class="col-12 text-end">
                        <button class="btn close-icon" onclick="closeToggleSignup()"><i class="fa fa-close "></i></button>
                    </div>
                    <div class="col-6 signup-feature-col">
                        <img src="/images/logo.png" alt="Smart Campus Logo" class="img-fluid logo" />
                        <h2 class="fs-6 signup-features">Get Access to these Features</h2>
                        <p class="signup-text"><i class="fa fa-check fa-lg signup-icon" aria-hidden="true"></i> Unlimited access and no payment needed</p>
                        <div>
                            <i class="fa fa-paperclip fa-lg signup-icon" aria-hidden="true"></i>
                            <h3 class="fs-6 signup-features">Unlimited Access to Past Papers</h3>
                            <p class="signup-text">We provides students and educators with comprehensive access to a vast repository of past examination papers.</p>
                        </div>
                        <div>
                            <i class="fa fa-users fa-lg  signup-icon" aria-hidden="true"></i>
                            <h3 class="fs-6 signup-features">Get Community Support</h3>
                            <p class="signup-text">A platform where students, educators, and academic enthusiasts share knowledge, seek help, and offer support. </p>
                        </div>
                        <div>
                            <i class="fa fa-sticky-note fa-lg  signup-icon" aria-hidden="true"></i>
                            <h3 class="fs-6 signup-features">Resourceful, Personalized Notes</h3>
                            <p class="signup-text">Enhance your learning experience using crafted notes tailored for your study needs. </p>
                        </div>

                    </div>
                    <div class="col-10 col-sm-6  signup-col">                    
                            <div class="row text-center justify-content-evenly">
                                <div class="col-12">
                                    <h2 class="fs-3 signup-heading">Register</h2>
                                    <h3 class="fs-6">With</h3>
                                </div>
                                <div class="col-sm-6">
                                    <button type="button" class="btn btn-secondary btn-google "><i class="fa fa-google signup-icon" aria-hidden="true"></i> Google</button>
                                </div>
                                <div class="col-sm-6">
                                    <button type="button" class="btn btn-secondary btn-facebook "><i class="fa fa-facebook signup-icon" aria-hidden="true"></i>Facebook</button>
                                </div>
                                <div class="col-12">
                                    <p class="fs-6 sign-item">Or</p>
                                    <hr/>
                                </div>
                            </div>
                            <form action="signup" method="POST">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label for="fname">First Name</label><br>
                                        <div class="detail-input signup-input">
                                            <i class="fa fa-user-plus form-icons" aria-hidden="true"></i>
                                           <input type="text" name="fname" placeholder="First" >
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="lname">Last Name</label><br>
                                        <div class="detail-input signup-input">
                                            <i class="fa fa-user-plus form-icons" aria-hidden="true"></i>
                                        <input type="text" name="lname" placeholder="Second" >
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <label for="lname">Username</label><br>
                                    <div class="detail-input signup-input">
                                        <i class="fa fa-user-circle-o form-icons" aria-hidden="true"></i>
                                    <input type="text" name="username" placeholder="Username" >
                                    </div>

                                </div>         
                                <div>
                                <label for="emailInput">Email address</label>
                                <div class="detail-input signup-input">
                                <i class="fa fa-envelope form-icons" aria-hidden="true" ></i>
                                <input type="email" name="email" placeholder="email@example.com">
                                </div>
                                </div>
                                <div>
                                <label for="passwordLabel">Password</label>
                                <div class="detail-input signup-input">
                                <i class="fa fa-unlock-alt form-icons" aria-hidden="true"></i>
                                <input type="password"name="password" placeholder="Password" >

                                </div>
                                </div>
                            
                            <button type="submit" class="btn btn-primary">Sign Up Now</button>
                            </form>
                            <div class="col-12">
                                <p class="terms"> By creating an account, you agree to our <a href="/tou" alt="terms of use">Terms of Service.</a>  We'll occasionally send you account-related emails.</p>
                                <p class="fs-6">Already have an Account? <a href="#" alt="Login page" onclick="closeToggleSignup(), toggleLogin()">Log In</a></p>

                            </div>
                    </div>
                </div>
            </div>
        </div>

    </body>

</html>