<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/styles/main.css">

    </head>
    <body>
        <div class="container-fluid top-banner">
            <%- include ('../../layouts/partials/guest/header.ejs') %>
            
            <div class="container">
                <div class="row text-center about-top-row">
                    <div class="col-12">
                        <h1 class="fs-1">Meet Our Team</h1>
                        <p class="fs-5 about-desc">
                            Meet the diverse group of dedicated nerds behind Smart Campus. 
                            These team bring a wealth of experience, creativity, and passion to everything we do.

                        </p>

                    </div>
                    <div class="col-12">
                        <img src="/images/about-us.png" class="img-fluid team-image" alt="About Us" />

                    </div>


                </div>
              





            </div>

        </div>
        <div class="container">
            <div class="row text-center flip-card-row">
                <div class="col-md-3">
                    <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="card flip-card-front">
                            <img src="/images/johnny.png" alt="John Icon" class="img-fluid">
                            <div class="card-body">
                            <h5 class="card-title">Kar1mak0s</h5>
                            <p class="card-text">Lead Developer</p>
                            <div class="row text-center">
                                <div class="col-3"> <i class="fa fa-github" aria-hidden="true"></i>  </div>
                                <div class="col-3"><i class="fa fa-linkedin-square" aria-hidden="true"></i></div>
                                <div class="col-3"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                                <div class="col-3"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                            </div>
                            </div>
                        </div>
                        <div class="card flip-card-back">
                            <div class="">
                                <h1 class="fs-5">John Murigi</h1>
                                <p class="fs-6">Full Stack JS Developer</p>
                                <p class="card-text">
                                    Implemented frontend designs using EJS, powerful backend logic via Node.js, 
                                    and seamless database management PostgreSQL.
                                    <br>He ensured smooth deployments on AWS, managed version control with Git, making our project truly magical.</p>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                <div class="col-md-3">
                    <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="card flip-card-front">
                            <img src="/images/johnny.png" alt="John Icon" class="img-fluid">
                            <div class="card-body">
                            <h5 class="card-title">Kar1mak0s</h5>
                            <p class="card-text">Lead Developer</p>
                            <div class="row text-center">
                                <div class="col-3"> <i class="fa fa-github" aria-hidden="true"></i>  </div>
                                <div class="col-3"><i class="fa fa-linkedin-square" aria-hidden="true"></i></div>
                                <div class="col-3"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                                <div class="col-3"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                            </div>
                            </div>
                        </div>
                        <div class="card flip-card-back">
                            <div class="">
                                <h1 class="fs-5">John Murigi</h1>
                                <p class="fs-6">Full Stack JS Developer</p>
                                <p class="card-text">
                                    Implemented frontend designs using EJS, powerful backend logic via Node.js, 
                                    and seamless database management PostgreSQL.
                                    <br>He ensured smooth deployments on AWS, managed version control with Git, making our project truly magical.</p>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                <div class="col-md-3">
                    <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="card flip-card-front">
                            <img src="/images/johnny.png" alt="John Icon" class="img-fluid">
                            <div class="card-body">
                            <h5 class="card-title">Kar1mak0s</h5>
                            <p class="card-text">Lead Developer</p>
                            <div class="row text-center">
                                <div class="col-3"> <i class="fa fa-github" aria-hidden="true"></i>  </div>
                                <div class="col-3"><i class="fa fa-linkedin-square" aria-hidden="true"></i></div>
                                <div class="col-3"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                                <div class="col-3"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                            </div>
                            </div>
                        </div>
                        <div class="card flip-card-back">
                            <div class="">
                                <h1 class="fs-5">John Murigi</h1>
                                <p class="fs-6">Full Stack JS Developer</p>
                                <p class="card-text">
                                    Implemented frontend designs using EJS, powerful backend logic via Node.js, 
                                    and seamless database management PostgreSQL.
                                    <br>He ensured smooth deployments on AWS, managed version control with Git, making our project truly magical.</p>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                <div class="col-md-3">
                    <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="card flip-card-front">
                            <img src="/images/johnny.png" alt="John Icon" class="img-fluid">
                            <div class="card-body">
                            <h5 class="card-title">Kar1mak0s</h5>
                            <p class="card-text">Lead Developer</p>
                            <div class="row text-center">
                                <div class="col-3"> <i class="fa fa-github" aria-hidden="true"></i>  </div>
                                <div class="col-3"><i class="fa fa-linkedin-square" aria-hidden="true"></i></div>
                                <div class="col-3"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                                <div class="col-3"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                            </div>
                            </div>
                        </div>
                        <div class="card flip-card-back">
                            <div class="">
                                <h1 class="fs-5">John Murigi</h1>
                                <p class="fs-6">Full Stack JS Developer</p>
                                <p class="card-text">
                                    Implemented frontend designs using EJS, powerful backend logic via Node.js, 
                                    and seamless database management PostgreSQL.
                                    <br>He ensured smooth deployments on AWS, managed version control with Git, making our project truly magical.</p>
                            </div>
                        </div>
                    </div>
                </div>
                </div>

        </div>
    
        
        <%- include ('../../layouts/partials/guest/footer.ejs') %>
    </body>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script type="module" src="/scripts/main.js"></script>
   
</html>