<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Donate: Help Us Continue Changing Lives</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/styles/main.css">
   
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <section class="donate">
            <div class="container-fluid">
                <div class="container text-center">
                    <div class="row justify-content-around">
                        <div class="col-md-6 align-self-center">

                            <img src="/images/helping-hand.png" alt=" A helping hand" class="img-fluid helping-hand" />

                        </div>
                        <div class="col-md-6">
                            <div class="row text-start justify-content-between">
                                <div class="col-12">
                                    <h2 class="fs-2">DONATE NOW!</h2>
                                    <p class="fs-6"> Help us empower students and enhance the learning experience on SmartCampus! 
                                        Your donation will contribute to creating better resources, more shared knowledge, and a stronger student community.
                                    </p>                                   
                                </div>
                                <div class="row text-centerjustify-content-between">
                                    
                                    <button type="button" class="btn col-6">ONE-TIMER</button>
                                    <button type="button" class="btn col-6">MONTHLY</button>
                                        
                                                                      
                                </div>
                                <div class="row text-start justify-content-between don-btn-row">
                                    <div class="col-6 col-sm-4 col-md-6 col-xl-4"> <button type="button" class="btn btn-outline-primary">Kes. 100</button></div>
                                    <div class="col-6 col-sm-4 col-md-6 col-xl-4"> <button type="button" class="btn btn-outline-primary">Kes. 250</button> </div>
                                    <div class="col-6 col-sm-4 col-md-6 col-xl-4"> <button type="button" class="btn btn-outline-primary">Kes. 500</button></div>
                                    <div class="col-6 col-sm-4 col-md-6 col-xl-4"> <button type="button" class="btn btn-outline-primary">Kes. 1000</button></div>
                                    <div class="col-6 col-sm-4 col-md-6 col-xl-4"> <button type="button" class="btn btn-outline-primary">Kes. 5000</button></div>
                                    <div class="col-6 col-sm-4 col-md-6 col-xl-4"> <button type="button" class="btn btn-outline-primary">Kes. 10000</button> </div>
                                    <div class="col-10"><input type="number" placeholder="Enter a Custom Amount"/></div>
                                </div>
                            </div>
              
                            </div>

                        </div>                   
                    </div>

                </div>
            </div>
        </section>
    </body>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script type="module" src="/scripts/main.js"></script>   
</html>