<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Donate: Help Us Continue Changing Lives</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/styles/main.css">
   
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <section class="donate">
            <div class="container-fluid">
                <div class="container text-center">
                    <div class="row justify-content-around">
                        <div class="col-md-6 align-self-center">

                            <img src="/images/helping-hand.png" alt=" A helping hand" class="img-fluid helping-hand" />

                        </div>
                        <div class="col-md-6 align-self-center">
                            <div class="row text-start don-row">
                                <div class="col-12 don-col">
                                    <h2 class="fs-1 don-head">DONATE NOW!</h2>
                                    <p class="fs-5"> Help Us, Help Students Ace Exams </p>                                   
                                </div>
                            </div>
                            <div class="row text-start don-row">
                                <div class="col-6 don-col">
                                    
                                    <button type="button" class="btn col-6 donate-btn donation-select" id="one-timer">ONE-TIMER</button>
                                </div>
                                <div class="col-6 don-col">
                                    <button type="button" class="btn col-6  donate-btn" id="monthly">MONTHLY</button>
                                </div>
                            </div>
                            <div class="row align-items-center don-row-2">
                                <div class="col-7 text-start"><p class="fs-5">Help us pay hosting fees, Donate Monthly</p></div>      
                                <div class="col-5"><img src="./images/arrow-up.png" class="img-fluid col-8 arrow-img"/></div>
                            </div>                               
                            <div class="row text-start don-row justify-content-start">
                                <form action="submit">
                                <button type="button" class="btn btn-outline-primary col-5 col-xl-3">Kes. 100</button>
                                <button type="button" class="btn btn-outline-primary col-5 col-xl-3">Kes. 250</button>
                                <button type="button" class="btn btn-outline-primary col-5 col-xl-3">Kes. 500</button>
                                <button type="button" class="btn btn-outline-primary col-5 col-xl-3">Kes. 1000</button>
                                <button type="button" class="btn btn-outline-primary col-5 col-xl-3">Kes. 5000</button>
                                <button type="button" class="btn btn-outline-primary col-5 col-xl-3">Kes. 10000</button>
                                <input type="number" placeholder="Kes." value="0" class="col-12 don-input"/>
                                <button type="button" class="btn btn-primary btn-lg col-4 col-lg-4 fs-4 btn-mpesa ">Mpesa</button>
                                <button type="button" class="btn btn-primary btn-lg col-4 col-lg-4 fs-4">Paypal</button>
                            </form>
                            </div>
              
                          </div>

                        </div>
                </div>                  
            </div>
        </section>
    </body>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script type="module" src="/scripts/main.js"></script>   
</html>