<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Privacy Policy</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/styles/main.css">
   
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <section class="pPolicy">
            <div class="container-fluid">
                <%- include ('../../layouts/partials/guest/header.ejs') %>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-10 col-md-8">
                                    <h1 class="fs-3">Terms and Conditions for Smart Campus</h1>
                                    <br>
                                    <p class="fs-6"><strong><i>Effective Date: 3rd July 2024</i></strong></p>
                                    <br>
                                    <p class="fs-6">Welcome to Smart Campus! These terms and conditions ("Terms") govern your use of the Smart Campus website and services. 
                                        By accessing or using our website, you agree to be bound by these Terms. 
                                        If you do not agree to these Terms, please do not use our website.</p>

                                    <h2 class="fs-4">1. Acceptance of Terms</h2> 
                                    <p class="fs-6">By using the Smart Campus website, you acknowledge that you have read, understood, and agree to be bound by these Terms and our Privacy Policy.</p>
                                    <h class="fs-4">2. Eligibility</h>
                                    <p class="fs-6">You must be at least 16 years old to use Smart Campus. 
                                        By using our website, you represent and warrant that you meet this age requirement.</p>
                                    <h2 class="fs-4">3. Account Registration</h2>
                                    <p class="fs-6">To access certain features of Smart Campus, you may be required to create an account. 
                                        You agree to provide accurate, current, and complete information during the registration process and to update such information as needed.</p>
                                    <h2 class="fs-4">4. User Conduct</h2>  
                                    <p class="fs-6">You agree not to use Smart Campus for any unlawful or prohibited activities. This includes, but is not limited to:</p>
                                    <ul>
                                        <li class="fs-6">Posting or sharing content that is illegal, harmful, or violates the rights of others.</li>
                                        <br><li class="fs-6">Engaging in any form of harassment, bullying, or discriminatory behavior.</li>
                                        <br><li class="fs-6">Using the platform to distribute spam or malware.</li>
                                        <br><li class="fs-6">Attempting to gain unauthorized access to other users' accounts or Smart Campus systems.</li>
                                    </ul>
                                    <h2 class="fs-4">5. Content Ownership and License</h2>
                                    <p class="fs-6"><strong>User Content:</strong> You retain ownership of the content you upload to Smart Campus. By posting content, you grant Smart Campus a non-exclusive, royalty-free, worldwide license to use, reproduce, modify, and distribute your content for the purpose of operating and promoting the platform.</p>- 
                                    <p class="fs-6"><strong>Smart Campus Content:</strong> All content provided by Smart Campus, including text, graphics, logos, and software, is the property of Smart Campus and protected by intellectual property laws. You may not use this content without our prior written consent.</p>
                                    <h2 class="fs-4">6. Privacy</h2>
                                    <p class="fs-6">Your use of Smart Campus is subject to our Privacy Policy, which explains how we collect, use, and protect your personal information. By using our website, you consent to our data practices as described in the Privacy Policy.</p>                                
                                    <h2 class="fs-4">7. Third-Party Links</h2>
                                    <p class="fs-6"> Smart Campus may contain links to third-party websites or services. We are not responsible for the content or practices of these third-party sites and encourage you to review their terms and privacy policies.</p>                       
                                    <h2 class="fs-4">8. Termination</h2>
                                    <p class="fs-6">Smart Campus reserves the right to suspend or terminate your account and access to the website at any time, without notice, for conduct that violates these Terms or is otherwise deemed harmful to Smart Campus or other users.</p>
                                    <h2 class="fs-4">9. Disclaimer of Warranties</h2> 
                                    <p class="fs-6">Smart Campus is provided on an "as-is" and "as-available" basis. We do not warrant that the website will be uninterrupted or error-free, and we disclaim all warranties, express or implied, including but not limited to warranties of accuracy, reliability, and fitness for a particular purpose.</p>
                                    <h2 class="fs-4">10. Limitation of Liability</h2>
                                    <p class="fs-6">In no event shall Smart Campus be liable for any indirect, incidental, special, consequential, or punitive damages arising out of or related to your use of the website, even if we have been advised of the possibility of such damages.</p>
                                    <h2 class="fs-4">11. Indemnification</h2>
                                    <p class="fs-6">You agree to indemnify and hold Smart Campus, its officers, directors, employees, and agents harmless from any claims, liabilities, damages, losses, and expenses, including reasonable attorneys' fees, arising out of or in any way connected with your use of the website or violation of these Terms.</p>
                                    <h2 class="fs-4">12. Changes to Terms</h2>
                                    <p class="fs-6">We may update these Terms from time to time. If we make significant changes, we will notify you by posting the new Terms on our website. Your continued use of Smart Campus after the changes have been made will constitute your acceptance of the new Terms.</p>
                                    <h2 class="fs-4">13. Governing Law</h2>
                                    <p class="fs-6">These Terms shall be governed by and construed in accordance with the laws of the Republic of Kenya, Communication act, without regard to its conflict of law principles.</p>
                                    <h2 class="fs-4">14. Contact Us</h2>
                                    <p class="fs-6">If you have any questions or concerns about these Terms, please <a href="/contact-us" alt="contact page"> contact us</a>.</p>
                                    <p class="fs-6">By using Smart Campus, you acknowledge that you have read, understood, and agree to these Terms and Conditions.</p>
                                    <br>
                                    <p><strong><i>Last Updated: 1st August 2024</i></strong></p>
                        </div>


                    </div>

                </div>
                <%- include ('../../layouts/partials/guest/footer.ejs') %>
            </div>
        </section>
    </body>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script type="module" src="/scripts/main.js"></script>   
</html>