<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Term of Use</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/styles/main.css">
   
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <section class="tou">
            <div class="container-fluid">
                <%- include ('../../layouts/partials/guest/header.ejs') %>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-10 col-md-8">
                                    <h1 class="fs-3">Terms of Use for Smart Campus</h1>
                                    <br>
                                    <p class="fs-6"><strong><i>Effective Date: 23rd July 2024</i></strong></p>
                                    <p class="fs-6">Welcome to Smart Campus! These Terms of Use ("Terms") govern your access to and use of our website, services, and applications (collectively, the "Services"). 
                                        By accessing or using our Services, you agree to be bound by these Terms. 
                                        If you do not agree to these Terms, do not use our Services.</p>

                                    <h2 class="fs-4">1. Acceptance of Terms</h2> 
                                    <p class="fs-6">By accessing or using Smart Campus, you confirm that you can form a binding contract with us, 
                                        and you agree to comply with these Terms and all applicable local, state, national, and international laws and regulations.</p>
                                    <h class="fs-4">2. Changes to Terms</h>
                                    <p class="fs-6">We may modify these Terms at any time. 
                                        Any changes will be effective immediately upon posting the revised Terms on Smart Campus. 
                                        Your continued use of the Services following the posting of changes constitutes your acceptance of such changes.</p>
                                    <h2 class="fs-4">3. Privacy Policy</h2>
                                    <p class="fs-6">Your use of our Services is also subject to our Privacy Policy, 
                                        which explains how we collect, use, and protect your personal information. 
                                        By using Smart Campus, you consent to our data practices as described in the Privacy Policy.</p>
                                    <h2 class="fs-4">4. User Conduct</h2>  
                                    <p class="fs-6">You agree not to engage in any of the following prohibited activities:</p>
                                    <ul>
                                        <li class="fs-6">Using the Services for any illegal purpose or in violation of any local, state, national, or international law.</li>
                                        <br>
                                        <li class="fs-6">Posting any content that is unlawful, harmful, threatening, abusive, harassing, defamatory, vulgar, obscene, libelous, or otherwise objectionable.</li>
                                        <br>
                                        <li class="fs-6">Infringing upon the rights of others, including intellectual property rights, privacy rights, or publicity rights.</li>
                                        <br>
                                        <li class="fs-6">Impersonating any person or entity, or falsely stating or otherwise misrepresenting your affiliation with a person or entity.</li>
                                        <br>
                                        <li class="fs-6">Engaging in any activity that disrupts or interferes with the Services, including transmitting viruses, malware, or any other harmful code.</li>
                                    </ul>
                                    <h2 class="fs-4">5. Account Registration</h2>
                                    <p class="fs-6">You may be required to create an account to access some features of our Services. 
                                        You agree to provide accurate and complete information during registration and to update your information to keep it accurate and complete. 
                                        You are responsible for maintaining the confidentiality of your account credentials and for all activities that occur under your account.</p>- 
                                    <h2 class="fs-4">6. Content Ownership and Rights</h2>
                                    <p class="fs-6"><strong>Your Content:</strong> You retain all ownership rights in the content you upload, submit, or post to Smart Campus ("User Content"). 
                                        By posting User Content, you grant us a worldwide, non-exclusive, royalty-free, sublicenseable, and transferable license to use, reproduce, 
                                        distribute, prepare derivative works of, display, and perform the User Content in connection with the Services.</p>
                                    <p class="fs-6"><strong>Our Content:</strong> The content provided by Smart Campus, including text, graphics, logos, and software, 
                                        is owned by us or our licensors and is protected by intellectual property laws. 
                                        You may not use, reproduce, or distribute any of this content without our prior written permission.</p>                                
                                    <h2 class="fs-4">7. Termination</h2>
                                    <p class="fs-6">We reserve the right to suspend or terminate your account or access to our Services at any time, without notice, 
                                        for conduct that we believe violates these Terms or is harmful to other users of the Services, us, or third parties, or for any other reason in our sole discretion.</p>                       
                                    <h2 class="fs-4">8. Disclaimers</h2>
                                    <p class="fs-6">The Services are provided "as is" and "as available" without warranties of any kind, either express or implied, including, 
                                        but not limited to, implied warranties of merchantability, fitness for a particular purpose, and non-infringement. 
                                        We do not warrant that the Services will be uninterrupted or error-free, or that any defects will be corrected.</p>
                                    <h2 class="fs-4">9. Limitation of Liability</h2> 
                                    <p class="fs-6">To the fullest extent permitted by applicable law, Smart Campus shall not be liable for any indirect, incidental, special, 
                                        consequential, or punitive damages, or any loss of profits or revenues, whether incurred directly or indirectly, or any loss of data, 
                                        use, goodwill, or other intangible losses, resulting from (a) your use of or inability to use the Services; (b) any unauthorized access 
                                        to or use of our servers and/or any personal information stored therein; (c) any interruption or cessation of transmission to or from the Services; 
                                        (d) any bugs, viruses, Trojan horses, or the like that may be transmitted to or through the Services by any third party; (e) any errors or omissions in any content; 
                                        and/or (f) any defamatory, offensive, or illegal conduct of any third party.</p>
                                    <h2 class="fs-4">10. Indemnification</h2>
                                    <p class="fs-6">You agree to indemnify, defend, and hold harmless Smart Campus, its officers, directors, employees, and agents, 
                                        from and against any claims, liabilities, damages, losses, and expenses, including, without limitation, reasonable legal and accounting fees, 
                                        arising out of or in any way connected with your access to or use of the Services or your violation of these Terms.</p>
                                    <h2 class="fs-4">11. Governing Law</h2>
                                    <p class="fs-6">These Terms shall be governed by and construed in accordance with the laws of [Your Country/State], without regard to 
                                        its conflict of law principles. You agree to submit to the personal and exclusive jurisdiction of the courts located within the 
                                        republic of Kenya to resolve any dispute or claim arising from these Terms.</p>
                                    <h2 class="fs-4">12. Miscellaneous</h2>
                                    <ul>
                                        <br><li class="fs-6"><strong>Entire Agreement:</strong> These Terms constitute the entire agreement between you and Smart Campus regarding your use of the Services and supersede any prior agreements between you and Smart Campus.</li>
                                        <br><li class="fs-6"><strong>Severability:</strong> If any provision of these Terms is found to be invalid or unenforceable, the remaining provisions of these Terms will remain in full force and effect.</li>
                                        <br><li class="fs-6"><strong>Waiver:</strong> Our failure to enforce any right or provision of these Terms will not be considered a waiver of those rights.</li>
                                    </ul>                                    
                                    <h2 class="fs-4">13. Governing Law</h2>
                                    <p class="fs-6">These Terms shall be governed by and construed in accordance with the laws of the Republic of Kenya, Communication act, without regard to its conflict of law principles.</p>
                                    <h2 class="fs-4">14. Contact Us</h2>
                                    <p class="fs-6">If you have any questions or concerns about these Terms, please <a href="/contact-us" alt="contact page"> contact us</a>.</p>
                                    <p class="fs-6">By using Smart Campus, you acknowledge that you have read, understood, and agree to these Terms and Conditions.</p>
                                    <br>
                                    <p><strong><i>Last Updated: 21st August 2024</i></strong></p>
                        </div>


                    </div>

                </div>
                <%- include ('../../layouts/partials/guest/footer.ejs') %>
            </div>
        </section>
    </body>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script type="module" src="/scripts/main.js"></script>   
</html>