<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="" content="">
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/styles/homepage.css">
    </head>
    <body>
        <section class="section-features">
           <div class="container">
            <div class="row text-center justify-content-center features-row">
              <div class="col-12"><h1 class="fs-1"><em>Features of Our Platform</em></h1>
              </div>
              <div class="col-8"><p class="fs-5">Access a vast library of past exam papers, searchable and filterable by subject and level. </p>
              </div>
            </div>
            <div class="row align-items-center justify-content-evenly features-row">
              <div class="col-md-6">
                <img class="img-fluid feature-img" src="/images/past-papers.png" alt="Past Papers Image"/>

              </div>
              <div class="col-md-4">
                <h2 class="fs-2"><i class="fa fa-check-circle verify-icon" aria-hidden="true"></i> <em>Access to Past Papers</em> </h2>
                <p class="fs-5">Get access to past papers to improve your study strategies, 
                  identify knowledge gaps, and simulate exam environment.</p>
              </div>

            </div>
            <hr>
            <div class="row align-items-center justify-content-evenly features-row">
              
              <div class="col-md-5 ">
                <h2 class="fs-2"><i class="fa fa-check-circle verify-icon" aria-hidden="true"></i> <em>Personalized Coursework Notes</em> </h2>
                <p class="fs-5">Improve your understanding of study units through detailed coursework notes.
                  Grasp key concepts and improve your retention through structured, organized, and reviewed topics.
                </p>
              </div>
              <div class="col-md-5">
                <img class="img-fluid feature-img" src="/images/coursework.png" alt="Past Papers Image"/>

              </div>

            </div>
            <div class="col-12 text-center"> 
              <button type="button" class="btn btn-outline-primary" onclick="toggleSignup()">Sign Up Now</button>

            </div> 
 
          </div>
           
        </section>

          <section class="section-features-2">
            <div class="container">
              <div class="row align-items-center justify-content-evenly features-row">
                <div class="col-md-6">
                  <img class="img-fluid feature-img" src="/images/career-guidance.png" alt="Career Guidance Image"/>
  
                </div>
                <div class="col-md-4">
                  <h2 class="fs-2"><i class="fa fa-check-circle verify-icon" aria-hidden="true"></i> <em>Comprehensive Career Guidance</em> </h2>
                  <p class="fs-5">Access articles, videos, and guides on various career paths, 
                    industry insights, and job search strategies. We'll also share workshops and webinars led by industry experts.</p>
                </div>
  
              </div>
              <hr>
              <div class="row align-items-center justify-content-evenly features-row">
                
                <div class="col-md-5 ">
                  <h2 class="fs-2"><i class="fa fa-check-circle verify-icon" aria-hidden="true"></i> <em> Vibrant Community of Learners and Professionals</em> </h2>
                  <p class="fs-5">Join a vibrant community of learners and professionals for mutual support and growth. 
                    We plan Online and Physical Q&A sessions with subject matter experts and career coaches.
                  </p>
                </div>
                <div class="col-md-5">
                  <img class="img-fluid feature-img" src="/images/community-support.png" alt="Past Papers Image"/>
  
                </div>
  
              </div>
              <hr>
              <div class="row align-items-center justify-content-evenly features-row">
                <div class="col-md-6">
                  <img class="img-fluid feature-img" src="/images/Network.png" alt="Career Guidance Image"/>
  
                </div>
                <div class="col-md-4">
                  <h2 class="fs-2"><i class="fa fa-check-circle verify-icon" aria-hidden="true"></i> <em>Expand your Professional Network</em> </h2>
                  <p class="fs-5">Participate in collaborative projects and group activities to build relationships and teamwork skills.
                    Increase your chances of finding job opportunities through referrals from your network.
                  </p>
                </div>
  
              </div>
              <div class="col-12 text-center"> 
                <button type="button" class="btn btn-outline-primary" onclick="toggleSignup()">Sign Up Now</button>
  
              </div>                   
  
             </div>

          </section>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        <script src="" async defer></script>
    </body>
</html>