<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="" content="">
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/styles/header.css">
    </head>
    <body>
        <header>
           <div class="container header">
                <div class="row justify-content-between text-center align-items-center">
                    <div class="col-md-2 col-4">
                        <img src="/images/logo.png" class="img-fluid logo" alt="Smart Campus Logo" />
                    </div>
                    <div class="col-md-6 text-center d-none d-md-block">
                            <ul class="">
                              <li class="nav-list">
                                <a class="nav-menu fs-5 fw-bolder" href="/course-notes">Courses</a>
                              </li>
                              <li class="nav-list">
                                <a class="nav-menu fs-5 fw-bolder" href="/past-papers">Papers</a>
                              </li>
                              <li class="nav-list">
                                <a class="nav-menu fs-5 fw-bolder" href="/career-guides">Careers</a>
                              </li>
                            </ul>
                    </div>
                    <div class="col-md-4 col-7 text-center">
                        <button type="button" class="btn btn-outline-primary btn-sm" onclick="toggleLogin()">Log in</button>
                        <button type="button" class="btn btn-primary btn-md" onclick="toggleSignup()">Sign up</button>                  
                    </div>

                </div>

           </div>
           <div>
            <section id="login">
              <%- include('login.ejs') %>
          </section>
          <section id="signup">
              <%- include('signup.ejs') %>
          </section>
           </div>
       </header>
    </body>          
       
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      
</html>