<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="" content="">
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/styles/header.css">
    </head>
    <body>
        <header class="header">
           <div class="container">
                <div class="row justify-content-between text-center align-items-center">
                    <div class="col-md-2 col-4">
                        <img src="/images/logo.png" class="img-fluid logo" alt="Smart Campus Logo" />
                    </div>
                    <div class="col-md-6 text-center d-none d-md-block">
                        <div class="">
                            <ul class="nav-bar">
                              <li class="nav">
                                <a class="nav-menu fs-5 fw-bolder" href="/resources">Courses</a>
                              </li>
                              <li class="nav">
                                <a class="nav-menu fs-5 fw-bolder" href="/papers">Papers</a>
                              </li>
                              <li class="nav">
                                <a class="nav-menu fs-5 fw-bolder" href="/guides">Careers</a>
                              </li>
                            </ul>
                          </div>

                    </div>
                    <div class="col-md-4 col-7 text-center">
                        <button type="button" class="btn btn-outline-primary btn-sm">Log in</button>
                        <button type="button" class="btn btn-primary btn-md">Sign up</button>
        
        
                    </div>

                </div>

           </div>
        


        </header>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        <script src="" async defer></script>
    </body>
</html>