.about .about-top-row{
    height: auto;
    padding: 10% 0;
 }
 .about .about-desc{
     padding: 0 10%;
 }
 .about .team-culture{
    padding: 5% 0;
    background-color: #3572ef;
 }
 .about .culture-desc{
    padding: 0 5%;
 }
 .about .culture-btn{
    color: white;
    background-color: black;
 }
 .about .culture-btn:hover{
    color: black;
    background-color: white;
 }