.helping-hand{
    height: 100vh;
    /* left: 5rem; */
}
/* .donation-profile{
    border: 2px solid grey;
    padding: 0.5rem 1rem;
    color: black;
    font-weight: 500;
} */
/* .donation-select{
    background-color: #040C9C;
    border: none;
    color: white;
} */
.btn-{
    border: 2px solid #040C9C;
    padding: 0.5rem 1rem;
    color: black;
    font-weight: 500;
}
.btn-outline-primary{
    padding: 0.5rem 0.5rem;
    width: 8rem;

    color: black;
    font-weight: 500;
    margin: 0.5rem 0.5rem;
}
.don-btn-row{
    padding: 1rem 0.5rem;
}