<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">


    </head>
    <body>
        <footer>
           <div class="container">
            <div class="row align-items-center justify-content-evenly text-start">
              
              <div class="col-6 col-sm-4 col-lg-2 footer-menu">
                <div class="row text-start">
                  <div class="col-12"><h4 class="fs-5 title-heading">Talk to Us</h4></div>
                  <div class="col-12"><a href="tel:+254740944288" alt="phone number" target="_blank"><i class="fa fa-phone footer-icon icon-call" aria-hidden="true"></i>Call Us</a></div>
                  <div class="col-12"> <a href="mailto:John@Karimakos.co.ke" alt="Support Email" target="_blank"><i class="fa fa-envelope-o footer-icon icon-email" aria-hidden="true"></i>Email Us</a></div>
                </div>             
              </div>
              <div class="col-6 col-sm-3 col-lg-2 footer-menu">
                <div class="row text-start">
                  <div class="col-12"><h4 class="fs-5 title-heading">Socials</h4></div>
                  <div class="col-12"><a href="https://www.youtube.com/@kar1mak0s" alt="Youtube Account profile" target="_blank"><i class="fa fa-youtube-play footer-icon icon-youtube" aria-hidden="true"></i> Youtube</a></div>
                  <div class="col-12"><a href="https://www.instagram.com/kar1mak0s/" alt="Instagram profile" target="_blank"><i class="fa fa-instagram footer-icon icon-youtube" aria-hidden="true"></i>Instagram</a></div>
                </div>             
              </div>
              <div class="col-6 col-sm-3 col-lg-2 footer-menu">
                <div class="row text-start">
                  <div class="col-12"><h4 class="fs-5 title-heading">Company</h4></div>
                  <div class="col-12"><a href="/about-us" alt="About us link page">About Us</a></div>
                  <div class="col-12"><a href="/features" alt="features page">Features</a></div>
                </div>             
              </div>
              <div class="col-6 col-sm-4 col-lg-2 footer-menu">
                <div class="row text-start">
                  <div class="col-12"><h4 class="fs-5 title-heading">Juniors</h4></div>
                  <div class="col-12"><a href="/career-guides" alt="career guides link page">Career Guides</a></div>
                  <div class="col-12"><a href="/mentorships" alt="mentorships page link">Mentorship</a></div>
                </div>             
              </div>
              <div class="col-6 col-sm-3 col-lg-2 footer-menu">
                <div class="row text-start">
                  <div class="col-12"><h4 class="fs-5 title-heading">Students</h4></div>
                  <div class="col-12"><a href="/courses" alt="Courses link page">Courses</a></div>
                  <div class="col-12"><a href="/past-papers" alt="Past papers link">Past Papers</a></div>
                </div>             
              </div>
              <div class="col-6 col-sm-3 col-lg-2 footer-menu">
                <div class="row text-start">
                  <div class="col-12"><h4 class="fs-5 title-heading">Graduates</h4></div>
                  <div class="col-12"><a href="/internships" alt="Internships link page">Internships</a></div>
                  <div class="col-12"><a href="/events" alt="events page">Events</a></div>
                </div>             
              </div>            
            </div>
            <hr>
            <div class="row align-items-center justify-content-evenly text-center">
                <div class="col-sm-3">
                  <p><a href="/tou" class="fs-6">Term of Use</a></p>                 
                </div>
                <div class="col-sm-6 ">
                  <p class="fs-6">Smartcampus © 2024</p>              

                </div>
                <div class="col-sm-3">
                  <p><a href="/privacy-policy" class="fs-6">Privacy Policy</a></p>

                </div>              

            </div>
           
          </div>
           
        </footer>
        
    </body>
</html>