<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>
    <body>
        <footer class="">
          <hr>
           <div class="container">
            <div class="row align-items-center justify-content-evenly text-center">
              
              <div class="col-sm-6 col-md-4">
                
                <ol>
                  <h3>For Students</h3>
                  <li><a href="/past-papers" target="_blank" class="fs-6" >Search for Past Papers</a></li>
                  <li><a href="/course-notes" target="_blank" class="fs-6">Search for Course Notes</a> </li>
                  <li><a href="/career-guides" target="_blank" class="fs-6" > Search for Career Guides</a></li>
                </ol>
               
              </div>
              <div class="col-sm-6 col-md-4">
                
                <ol>
                  <h3>For Graduates</h3>
                  <li> <a href="/network" target="_blank" class="fs-6">Network with Professional</a> </li>
                  <li><a href="/peer-engagement" target="_blank" class="fs-6"> Peer Engagement</a></li>
                  <li><a href="/sessions" target="_blank" class="fs-6"> Announcements</a></li>
                </ol>

              </div>
              <div class="col-sm-12 col-md-4">
                <div>
                  <img class="playstore-icon img-fluid" src="/images/playstore.png" alt="playstore icon" />
                  <h3 class="fs-3 playstore-text">Playstore</h3>
                </div>
                <div class="playstore-stars">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star-half-o" aria-hidden="true"></i>
                </div>    
                <div>
                  <p class="about"><a href="/about-us" class="fs-6 ">About us</a></p>   
                </div>       

              </div>
              

            </div>
            <hr>
            <div class="row align-items-center justify-content-evenly text-center">
                <div class="col-sm-3">
                  <p><a href="/tou" class="fs-6">Term of Use</a></p>                 
                </div>
                <div class="col-sm-6 ">
                  <p class="fs-6">Smartcampus © 2024</p>              

                </div>
                <div class="col-sm-3">
                  <p><a href="/privacy-policy" class="fs-6">Privacy Policy</a></p>

                </div>              

            </div>
           
          </div>
           
        </footer>
        
    </body>
</html>