<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    </head>
    <body>
        <div class="container team">
            <div class="row text-center justify-content-around">
                <div class="col-md-5">
                            <img src="/images/johnny.png" alt="John Icon" class="img-fluid team-icon">
                            <div class="card-body">
                                <h5 class="card-title fs-4">Kar1mak0s</h5>
                                <p class="card-text fs-6">Lead Developer</p>
                                <div class="row justify-content-center team-social-icons">
                                    <div class="col-2"> <a href=" " alt="github icon"> <i class="fa fa-github fs-4" aria-hidden="true"></i> </a> </div>
                                    <div class="col-2"><a href=" " alt="linkedin icon"> <i class="fa fa-linkedin-square fs-4" aria-hidden="true"></i> </a></div>
                                    <div class="col-2"> <a href=" " alt="twitter icon"> <i class="fa fa-twitter fs-4" aria-hidden="true"></i> </a> </div>
                                    <div class="col-2"> <a href=" " alt="facebook icon"><i class="fa fa-facebook fs-4" aria-hidden="true"></i> </a> </div>
                                </div>
                            </div>

                        <div class="accordion text-start" id="accordionExample">
                            <div class="accordion-item">
                              <h2 class="accordion-header">
                                <button class="accordion-button fs-5" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                  About John
                                </button>
                              </h2>
                              <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p class="fs-6">A versatile <strong>full-stack developer </strong> obsessed with both frontend and backend technologies. 
                                    <code>Committed high-quality work </code> and <code>smooth deployments</code>, making him an invaluable to this project.</p>
                                </div>
                              </div>
                            </div>
                            <div class="accordion-item">
                              <h2 class="accordion-header">
                                <button class="accordion-button collapsed fs-5" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                  My Skills
                                </button>
                              </h2>
                              <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                        <h3 class="fs-5"><strong>Frontend Development:</strong></h3>
                                        <p class="fs-6">Implemented dynamic and interactive designs using <code>EJS</code> and <code>React</code>.</p>
                                        <h3 class="fs-5"><strong>Backend Development:</strong></h3>
                                        <p class="fs-6">Developed robust and scalable backend logic with <code>express.js </code> and <code>Node.js runtime</code>.</p>
                                        <h3 class="fs-5"><strong>Database Management:</strong></h3>
                                        <p class="fs-6">Seamlessly managed databases with <code>SQL</code> and <code>PostgreSQL.</code></p>
                                        <h3 class="fs-5"><strong>DevOps and Deployment:</strong></h3>
                                        <p class="fs-6">Ensured smooth deployments on <code>AWS</code>, <code>Microsoft Azure</code>, and other Cloud Web Servers.</p>
                                        <h3 class="fs-5"><strong>Version Control:</strong></h3>
                                        <p class="fs-6">Managed version control efficiently with <code>Git.</code></p>
                                        
                                </div>
                              </div>
                            </div>
                            <div class="accordion-item">
                              <h2 class="accordion-header">
                                <button class="accordion-button collapsed fs-5" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                 Experience
                                </button>
                              </h2>
                              <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <h3 class="fs-5"><strong>Frontend Implementation:</strong></h3>
                                        <p class="fs-6">Used <code>EJS templating</code> to create dynamic and user-friendly interfaces that enhance user experience.</p>
                                        <h3 class="fs-5"><strong>Backend Logic</strong></h3>
                                        <p class="fs-6">This app runs on <code>Express.js</code> and <code>Node.js</code> on the backend systems to handle complex business logic and ensure optimal performance.</p>
                                        <h3 class="fs-5"><strong>Tech Meetups:</strong></h3>
                                        <p class="fs-6">Attends regular local tech meetups, sharing and discussing knowledge on <code>Javascript</code> and <code>C</code>.</code></p>
                                        <h3 class="fs-5"><strong>Server Management:</strong></h3>
                                        <p class="fs-6">Managing and maintaining server infrastructure this app is running smooth and is scaleable.</p>
                                        <h3 class="fs-5"><strong>Team Management:</strong></h3>
                                        <p class="fs-6">Team lead the diverse people for the success and effective communication, delegation, and motivation throughout the project.</code></p>
                                </div>
                              </div>
                            </div>
                          </div>
                        
                </div>
                <div class="col-md-5">
                    <img src="/images/nelisa.png" alt="John Icon" class="img-fluid team-icon">
                    <div class="card-body">
                        <h5 class="card-title fs-4">Nelisa</h5>
                        <p class="card-text fs-6">Web Designer</p>
                        <div class="row justify-content-center team-social-icons">
                            <div class="col-2"> <a href=" " alt="Instagram icon"> <i class="fa fa-instagram fs-4" aria-hidden="true"></i> </a> </div>
                            <div class="col-2"><a href=" " alt="linkedin icon"> <i class="fa fa-linkedin-square fs-4" aria-hidden="true"></i> </a></div>
                        </div>
                    </div>

                <div class="accordion text-start" id="accordionExample">
                    <div class="accordion-item">
                      <h2 class="accordion-header">
                        <button class="accordion-button fs-5" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                          About Nelisa
                        </button>
                      </h2>
                      <div id="collapseFour" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p class="fs-6">Nelisa is a <strong>creative and innovative web designer</strong> known 
                                for her eye for detail and ability to translate complex ideas into visually appealing designs.</p>
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header">
                        <button class="accordion-button collapsed fs-5" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                          My Skills
                        </button>
                      </h2>
                      <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                                <h3 class="fs-5"><strong>Web Design:</strong></h3>
                                <p class="fs-6">Crafted engaging and responsive web designs.</p>
                                <h3 class="fs-5"><strong>User Experience (UX):</strong></h3>
                                <p class="fs-6">Focused on creating intuitive and user-friendly interfaces.</p>
                                <h3 class="fs-5"><strong>Graphic Design:</strong></h3>
                                <p class="fs-6">Utilized advanced graphic design tools to enhance visual appeal.</code></p>
                                <h3 class="fs-5"><strong>Adobe Creative Suite:</strong></h3>
                                <p class="fs-6">Proficient in Adobe Photoshop, Illustrator, and XD for design and prototyping.</p>
                                <h3 class="fs-5"><strong>Figma</strong></h3>
                                <p class="fs-6">Creating figma designs and website mockups.</code></p>
                                
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header">
                        <button class="accordion-button collapsed fs-5" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                         Experience
                        </button>
                      </h2>
                      <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <h3 class="fs-5"><strong>Engaging Web Designs:</strong></h3>
                                <p class="fs-6">Created visually stunning and responsive web designs that captivate users and improve engagement.</p>
                                <h3 class="fs-5"><strong>User Experience:</strong></h3>
                                <p class="fs-6">Designed interfaces with a strong focus on user experience, ensuring that websites are easy to navigate and use.</p>
                                <h3 class="fs-5"><strong>Graphic Design:</strong></h3>
                                <p class="fs-6">Enhanced the visual appeal of websites with custom graphics and illustrations, using tools like Adobe Photoshop and Illustrator.</p>
                                <h3 class="fs-5"><strong>CSS and HTML:</strong></h3>
                                <p class="fs-6">Implemented clean and efficient CSS and HTML code to ensure websites are well-structured and styled.</p>
                                <h3 class="fs-5"><strong>Prototyping:</strong></h3>
                                <p class="fs-6">Used Adobe XD to create interactive prototypes that help visualize the final product and streamline the design process.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                
        </div>
                

        </div>
        
        </div>
    </body>
</html>