body{
    font-family: "Work Sans", sans-serif;
}
.top-banner{
    background-image: url(../images/home-banner.png);
    object-fit: cover;
    background-repeat: no-repeat;
    min-height: fit-content;
    position: relative;
}
.card-icons{
    max-height: 80px;

}
.card{
    border: none;
    background-color: transparent;
}
.col-top-first{
    padding: 20px 10px;
}
.col-top-second{
    padding: 5px 5px;
    margin-bottom:20px;
}
/* search Bar */

.form{

    position: relative;
    border: solid 1px grey;
    border-radius: 10px;
    margin: 50px 0 30px;
    
}

.form .fa-search{

    position: absolute;
    top:20px;
    right: 20px;
    color: #9ca3af;

}
.i-fa{
    background-color: #3572ef;
    border: solid 1px grey;
}
.form-input{

    height: 55px;
    text-indent: 33px;
    border-radius: 10px;
    background-color: white;
}

.form-input:focus{

    box-shadow: none;
    border:none;
}

/* Features Section */
.section-features{
    padding: 50px 0;
}
.features-row{
    padding: 50px 0 50px;

}
.feature-img{
max-height: 80vh;
}

.features-heading{
    line-height: 1.5rem;
    font-family: "work sans", sans-serif;
    list-style: none;
    font-weight: bolder;

}
.verify-icon{
    color: #3572ef;
}
/* Section 2 Features */
.section-features-2{
    background-color: #3572ef;
}
.section-features-2 .verify-icon{
    color: white;
}
.section-features-2 p{
    color: white;
    padding-top: 20px;
}
.section-features-2 h2{
    color: white;
    padding-top: 20px;
}
.section-features-2 hr{
    color: white;
    
}
.section-features-2 button{
    background-color: white;
    }
.section-features-2 button:hover{
    background-color: #050C9C;
}