body{
    font-family: "Work Sans", sans-serif;
}
a{
    color: #3572ef;
    text-decoration: none;
    
}
a:hover{
    color: #050C9C;
    text-decoration: underline;
}
.top-banner{
    background-image: url(../images/banner.png);
    object-fit: cover;
    background-repeat: no-repeat;
    min-height: fit-content;
    position: relative;
}
.card-icons{
    max-height: 80px;

}
.card{
    border: none;
    background-color: transparent;
}
.nav-list{
    display: inline-block;
    padding: 10px;
}

.col-top-first{
    padding: 20px 10px;
}
.col-top-second{
    padding: 5px 5px;
    margin-bottom:20px;
}
/* search Bar */

.form{

    position: relative;
    border: solid 1px grey;
    border-radius: 10px;
    margin: 50px 0 30px;
    
}

.form .fa-search{

    position: absolute;
    top:20px;
    right: 20px;
    color: #9ca3af;

}
.i-fa{
    background-color: #3572ef;
    border: solid 1px grey;
}
.form-input{

    height: 55px;
    text-indent: 33px;
    border-radius: 10px;
    background-color: white;
}

.form-input:focus{

    box-shadow: none;
    border:none;
}

/* Features Section */
.section-features{
    padding: 50px 0;
}
.features-row{
    padding: 50px 0 50px;

}
.feature-img{
max-height: 80vh;
}

.features-heading{
    line-height: 1.5rem;
    font-family: "work sans", sans-serif;
    list-style: none;
    font-weight: bolder;

}
.verify-icon{
    color: #3572ef;
}
/* Section 2 Features */
.section-features-2{
    background-color: #3572ef;
    padding: 20px 0 50px;
}
.section-features-2 .verify-icon{
    color: white;
}
.section-features-2 p{
    color: white;
    padding-top: 20px;
}
.section-features-2 h2{
    color: white;
    padding-top: 20px;
}
.section-features-2 hr{
    color: white;
    
}
.section-features-2 button{
    background-color: white;
    }
.section-features-2 button:hover{
    background-color: #050C9C;
}

/* Footer Section */
footer li{
    line-height: 2rem;
    list-style: none;
    font-size: 18px;
}

footer{
    padding: 5% 0 1%;
}
footer .playstore-icom{
    display: inline-block;
    
}
footer .playstore-text{
    display: inline-block;
}

/* Login Section */
.welcome-text{
    padding: 10px 0 20px;
}

#login{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.85);
    z-index: 1000;
    overflow: auto; 
}
.signin-form{
    padding: 5% 5%;
}
.sign-row{
    height: 100vh;
}
.close-icon{
    position: relative;
    font-size: 32px;
    color: white;
    margin: 5% 0;
}
.close-icon:hover{
    color: white;
    transform: scale(1.5);
}
.sign-in{
    background-color: white;
    border-radius: 10px;
}
.btn-google{
    background-color: lightcoral;
}
.btn-google:hover{
    background-color: #DB4437;
}

.btn-facebook{
    background-color: #3572ef;
}
.btn-facebook:hover{
    background-color: #050C9C;
}

.detail-input{
    width: 80%;
    height: 40px;
    border-radius: 5px;
    border: solid black 1px;
    display: block;
    padding: 10px 10px;
    margin-bottom: 20px;
}
.login-btn{
    width: 25%;
    font-size: 16px;
    background-color: #3572ef;
}
.login-btn:hover{
    background-color: #050C9C;
}
.welcome-text{
    color: white;
}
.sign-item{
    padding: 10px 0;
    font-size: 16px;
}

/* Signup Section */
.signup{
    height: 100vh;
}


.signup-col{
 background-color: rgb(255, 255, 255);
 border-radius: 2%;
}

#signup{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.95);
    z-index: 1000;
    overflow: auto; 
}
.signup-heading{
    color: black;

}

.signup-features{
    color: white;
}
.signup-icon{
    color: white;
    padding: 15px;

}
.signup-text{
    color: white;
    font-size: 12px;
}
.logo{
    max-width: 150px;
}
.signup-input{
    width: 100%;
}
.terms{
    font-size: 12px;
}

@media (max-width: 576px) { 
    .fa-facebook{
        display: none;
    }
    .fa-google{
        display: none;
    }
    .signup-feature-col{
        display: none;
    }
    
 }
 @media (max-width: 768px){
    .signup-icon{
        display: none;
    }
 }