footer{
    background-image: linear-gradient(to right, #5de0e6 , rgb(52,116,236, 0.5));
    padding: 3% 0 0;

}
footer .footer-menu{
    padding: 2% 0;
}
.footer-icon{
    padding: 0 10px;
}
.icon-youtube{
    color: red;
}
.icon-call{
    color: blue;
}
.icon-email{
    color: black;
}
.icon-instagram{
    color: blueviolet;
}