
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header h1{
    color: #050c9c;
}
.logo{
    max-width: 8rem;
}
.nav{
    display: inline-block;
    padding: 10px;
}
.nav-bar{
    padding: 0;
    margin: 0;
}
.nav-menu{
    color: #3572EF;
    text-decoration: none;

}
.nav-menu:hover{
    color: #050c9c;
    transform: scale(1);
    text-decoration: underline solid transparent;
    transition: text-decoration 3s ease;
}
.nav-menu:active{
    text-decoration: underline solid;
    color: #3572EF;
}

.btn-primary{
    background-color: #3572EF;
    border: none;
}
.btn-outline-primary{
    border: #050c9c solid 2px;
    color: black;
}
