/* Guest Header Styles */
header h1{
    color: #050c9c;
}
header .logo{
    max-width: 5rem;
}
header .nav{
    display: inline-block;
    padding: 10px;
}
header .nav-bar{
    padding: 0 5%;
    margin: 0;
}
header .nav-menu{
    color: #3572EF;
    text-decoration: none;
    

}
header .nav-menu:hover{
    color: #050c9c;
    transform: scale(1);
    text-decoration: underline solid transparent;
    transition: text-decoration 3s ease;
}
header .nav-menu:active{
    text-decoration: underline solid;
    color: #3572EF;
}

header .btn-primary{
    background-color: #3572EF;
    border: none;
}
header .btn-outline-primary{
    border: #050c9c solid 2px;
    color: black;
}
@media (max-width: 576px) {
    .for-free{
        display: none;
    }
}

/* User Header Styles */